.autocomplete,
.autocomplete * {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  box-sizing: border-box;
  font-weight: 300;
}

.autocomplete-field {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;

  webkit-transition: background-color 80ms linear;
         transition: background-color 80ms linear;
}
.autocomplete-field:focus {
  background: #fff;
}

.autocomplete-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}

.autocomplete-item {
  list-style: none;
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
  padding: 10px 8px;
}
.autocomplete-item--selected {
  background: #f00;
}
